@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

$dfl-font: "Ubuntu", sans-serif;
$alt-font: "Roboto", sans-serif;
$display-font: "Berkshire Swash", cursive;

$primary-color: rgba(255, 140, 0, 0.74);

$alt-color: rgba(255, 94, 0, 0.801);

$secondary-color: rgba(0, 0, 0, 0.877);
