.ma-1 {
  margin: 1.5em;
}
.ma-2 {
  margin: 1em;
}
.ma-3 {
  margin: 0.7em;
}
.ma-4 {
  margin: 0.5em;
}
.ma-5 {
  margin: 0.2em;
}

.pa-1 {
  padding: 1.5em;
}
.pa-2 {
  padding: 1em;
}
.pa-3 {
  padding: 0.7em;
}
.pa-4 {
  padding: 0.5em;
}
.pa-5 {
  padding: 0.2em;
}
.pt-1 {
  padding-top: 1em;
}

.ma {
  margin: auto;
}
