@import "../classes";
@import "../config";
@import "../animations";

.root {
  width: 100%;
  border-bottom: 0.1em solid rgba(128, 128, 128, 0.116);
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
}

.navItem {
  flex: 1;
  padding: 0.5em;
  border-radius: 0.12em;
  text-align: center;
  cursor: pointer;
  @extend .grey, .dfl-font;
  transition: 0.2s all;
  &:hover {
    background-color: rgba(253, 168, 70, 0.727);
    color: white;
  }
}

.activeTab {
  background-color: rgba(253, 168, 70, 0.727);
  color: white;
}
