@import "../classes";
@import "../config";
@import "../animations";

.drawer {
  width: 40%;
  height: 100%;
  display: none;
  position: relative;
}

.drawerActive {
  width: 35%;
  height: 100%;
  display: block;
  background-color: rgb(255, 248, 240);
  animation: slideDrawer 0.3s 1 ease-out forwards;
}

.drawerContainer {
  width: 100%;
  min-height: 100vh;

  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0);
}

.drawerContainerActive {
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  display: block;
  z-index: 1000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
}
.header {
  padding: 0.3em;
}

.btn {
  background-color: rgba(255, 153, 37, 0.967);
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: center;
  position: absolute;

  text-transform: uppercase;
  left: 5em;
  right: 5em;
  bottom: 1em;
  text-decoration: none;
  color: white;
  @extend .dfl-font;
  &:hover {
    color: rgba(255, 153, 37, 0.967);
    box-shadow: 0.1em 0.1em 0.3em 0.4em rgba(255, 186, 107, 0.123);
    border: 0.1em solid rgba(255, 153, 37, 0.967);
    background-color: rgba(255, 153, 37, 0);
  }
}

.checkout {
  margin: 1em;
  width: 100%;
  text-align: center;
  background-color: $primary-color;
  color: rgba(0, 0, 0, 0.829);
  border: none;
  padding: 0.3em 1em;
  text-decoration: none;
}
