@import "../classes";
@import "../config";
@import "../animations";

.root {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 100;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.37);
  @extend .align-center-flex;
}

.modal {
  border-radius: 0.2em;
  width: 80%;
  border: 0.1em solid rgba(0, 0, 0, 0.247);
  padding: 0.3em;
  background-color: whitesmoke;
}

.header {
  padding: 0.3em;
}
