@import "../classes";
@import "../config";
@import "../animations";

.root {
  width: 100%;
}

.container {
  border: 0.1em solid rgba(250, 192, 154, 0.645);
  border-radius: 1em;
  margin: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5em;
}

.footer {
  display: flex;
  padding: 0.4em;
  align-items: center;
}
