@import "../classes";
@import "../config";
@import "../animations";

.root {
  width: 100%;
}

.card {
  border: 0.1em solid rgba(128, 128, 128, 0.089);
  box-shadow: none;
  margin: 0.5em;
  border-radius: 1em;
  width: 98%;
  padding: 1em;
}
