@import "../classes";
@import "../config";
@import "../animations";

.root {
  width: 100%;
}
.info {
  width: 100%;
  padding: 1em;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  float: inline-start;
  display: block;
}

.details {
  float: left;
  color: rgba(0, 0, 0, 0.849);
  padding: 0.2em;
  display: block;
}

.item {
  display: flex;
  align-items: center;
}

.value {
  padding: 0.7em;
  margin: 0.2em;
  border-radius: 3em;
  font-size: 0.8em;
  border: 0.1em solid rgba(128, 128, 128, 0.158);
  background-color: rgba($color: #000000, $alpha: 0.01);
  transition: 0.1s all;
  &:hover {
    background-color: rgba($color: #828282, $alpha: 0.3);
  }
  &:focus {
    border: 0.1em solid rgb(77, 255, 7);
  }
}
