@import "../classes";
@import "../config";
@import "../animations";

.root {
  width: 100%;
  padding: 3em 5em;
}

.container {
  border: 0.1em solid rgba(128, 128, 128, 0.089);
  box-shadow: 0.1em 0.1em 0.5em 0.1em rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  position: relative;
  padding: 1em;
  background-color: white;
  display: flex;
}

.avatar {
  width: 20%;
  position: relative;
}

.avatarImg {
  display: inline-block;
  border: 0.1em solid rgba(33, 33, 33, 0.493);
  position: absolute;
  width: 7em;
  height: 7em;
  top: 2em;
  left: 2em;
  border-radius: 50%;
}
.address {
  width: 80%;
}

.title {
  text-decoration: underline;
  @extend .dfl-font;
  padding: 0.5em;
  color: $primary-color;
}
